Services/ServiceConfig/Service References/WCFLockService/EntityObjectORM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityObjectORM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityObjectORM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectIdentifier" nillable="true" type="tns:ObjectIdentifier" />
</xs:schema>