Services/ServiceConfig/Service References/WCFLockService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EntityObjectORM" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFLockService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityObjectORM" minOccurs="0" name="objectId" nillable="true" type="q1:ObjectIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLockService" minOccurs="0" name="TryLockResult" nillable="true" type="q2:TryLockResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockIsAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntityObjectORM" minOccurs="0" name="objectId" nillable="true" type="q3:ObjectIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>