Services/ServiceConfig/Service References/WCFLockService/WCFLockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLockService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLockService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TryLockResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndLockTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TryLockResult" nillable="true" type="tns:TryLockResult" />
</xs:schema>